

body {
    color: white; 
    background-color: black;text-align: center;
}

p{
    color: blue;
    font-size:2e;
    text-align:center;
}

img{
    height: 200px; width: 200px; text-align: center;
}